.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1{
    color: black;
}

.input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease;
}

.input:focus {
    border-color: #007bff;
}

.button {
    padding: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.loginLink {
    margin-top: 10px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
}

.loginLink:hover {
    text-decoration: underline;
}
